[user]
	name = Drew Ryan Jones
	email = drjones604@gmail.com
[alias]
	co = checkout
	ci = commit
	st = status
	hist2 = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	hist1 = log --pretty=oneline
	br = branch
[core]
    editor = vim
[diff]
	tool = kompare
[push]
	default = upstream
[branch "master"]
    rebase = true
[branch]
    autosetuprebase = always
